* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Your styles begin here */

.container {
    max-width: 800px;
    margin: 50px auto;
}

.back {
    margin-bottom: 15px;
}

h2 {
    margin-bottom: 10px
}

section {
    margin-bottom: 25px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}