<!DOCTYPE html>
<html>
    <head>
        <title>Pokedex</title>
        <!-- For this page, your styles will be in /static/css/index.css -->
        <link type="text/css" rel="stylesheet" href="/static/css/index.css" />
        <!-- jQuery is already downloaded and installed for you -->
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    </head>
    <body>
        <!-- Your HTML should be here -->
        <div class="container">
            <h1>Pokedex</h1>
            <div class="pokemon-container">
            </div>
        </div>
        <!-- For this page, your JavaScript will be in /static/js/index.js -->
        <script type="text/javascript" src="/static/js/index.js"></script>
    </body>
</html>