<!DOCTYPE html> <!-- All HTML files should start with this DOCTYPE tag-->
<html>
    <head>
        <title>Pokedex</title>

        <!-- For this page, your styles will be in /static/css/index.css -->
        <!-- Do NOT use a CSS library or framework like Bootstrap - practice writing CSS first -->
        <link type="text/css" rel="stylesheet" href="/static/css/index.css" />

        <!-- jQuery is already downloaded and installed for you -->
        <!-- In order to use jQuery in your JavaScript, this file needs to be added BEFORE your custom JavaScript -->
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    </head>
    <body>
        <!-- Your HTML should start here -->
        
        <div class="container">
            <h1>Pokedex</h1>
            <div class="pokemon-container">
            </div>
        </div>

        <!-- Your HTML should end here -->
        <!-- For this page, your JavaScript will be in /static/js/index.js -->
        <!-- Custom JavaScript is typically located at the BOTTOM right before the closing </body> tag -->
        <script type="text/javascript" src="/static/js/index.js"></script>
    </body>
</html>